<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="v.lucidlink" android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <permission android:name="com.resmed.refresh.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.resmed.refresh.permission.C2D_MESSAGE"/>

    <application android:name=".MainApplication" android:label="@string/app_name" android:allowBackup="true"
            android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme" android:largeHeap="true">

        <!--
        <activity android:name=".MainActivity" android:label="@string/app_name"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleInstance">
        <activity android:name="com.resmed.rm20.IndexActivity" android:label="@string/app_name">
        -->
        <activity android:name=".MainActivity" android:label="@string/app_name"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize" android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity"/>

        <!-- <service android:name="v.lucidlink.MainService" android:process=":MainService"/> -->
        <service android:name="v.lucidlink.MainService"/>
    </application>
</manifest>